<ul class="nav navbar-nav navbar-right">
      <li><a href="#tf-home" class="page-scroll">Start</a></li>
      <li><a href="#tf-about" class="page-scroll">About</a></li>
      <li><a href="#tf-specs" class="page-scroll">Specs</a></li>
      <li><a href="#tf-features" class="page-scroll">Features</a></li>
      <li><a href="#tf-control" class="page-scroll">Control System</a></li>
      <li><a href="https://github.com/IRNAS/GoodEnoughCNC-PlasmaCutter" target="_blank">Source files</a></li>
      <li><a href="#tf-copy" class="page-scroll">Copyright</a></li>
      <li><a href="#tf-newsletter" class="page-scroll">Newsletter</a></li>
      <!-- <li><a href="#tf-contact" class="page-scroll">Contact</a></li> -->
</ul>