<div class="col-md-6">
    <img src="{{ ASSET_PATH }}/img/work-in-progress.jpg" class="img-responsive">
    <span class="image_caption">Molestias non veritatis voluptatem, reiciendis asperiores adipisci in cumque consequatur ab possimus expedita.</span>
</div>
<div class="col-md-6">
    <div class="about-text">
        <div class="section-title">
            <h4>Work-in-progress</h4>
            <h2>to be published soon.</h2>
            <hr>
            <div class="clearfix"></div>
        </div>
        <p class="intro">Industry in vast majority aims to use highest precision and reliability machines, to be capable of producing even the most complicated parts designers come up with. We are flipping such approach on its head, trading precision of manufacturing tools for simplicity and low cost of their construction, to reduce the entry barrier for using them in any environment.</p>
    </div>
</div>