<!-- Simplicity -->
<div class="container first">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ ASSET_PATH }}/img/simplicity.jpg" class="img-responsive">
            <span class="image_caption">Molestias non veritatis voluptatem, reiciendis asperiores adipisci in cumque consequatur ab possimus expedita.</span>
        </div>
        <div class="col-md-6">
            <div class="about-text">
                <div class="section-title">
                    <h4>Features</h4>
                    <h2>Simplicity</h2>
                    <hr>
                    <div class="clearfix"></div>
                </div>
                <p class="intro">Can be manufactured using a hand held drill and angle grinder. Non critical parts are 3D and can be made using other manufacturing processes.</p>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<!-- Frame -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="about-text">
                <div class="section-title">
                    <h2>Frame</h2>
                    <hr>
                    <div class="clearfix"></div>
                </div>
                <p class="intro">Low cost Square tubes are used as structural components and linear rails for trolleys. The frame is kept in rectangular position using two turnbuckles. Removing the turnbuckles allows folding the frame for easy transport.</p>
            </div>
        </div>
        <div class="col-md-6">
            <img src="{{ ASSET_PATH }}/img/frame.jpg" class="img-responsive">
            <span class="image_caption">Molestias non veritatis voluptatem, reiciendis asperiores adipisci in cumque consequatur ab possimus expedita.</span>
        </div>
        <div class="col-md-6">
            <img src="{{ ASSET_PATH }}/img/frame2.jpg" class="img-responsive">
            <span class="image_caption">Molestias non veritatis voluptatem, reiciendis asperiores adipisci in cumque consequatur ab possimus expedita.</span>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<!-- Trolleys -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ ASSET_PATH }}/img/trolleys.jpg" class="img-responsive">
            <span class="image_caption">Molestias non veritatis voluptatem, reiciendis asperiores adipisci in cumque consequatur ab possimus expedita.</span>
        </div>
        <div class="col-md-6">
            <div class="about-text">
                <div class="section-title">
                    <h2>Trolleys</h2>
                    <hr>
                    <div class="clearfix"></div>
                </div>
                <p class="intro">Low cost square tubes with holes for motor, bearing positions and tightening. Tightening mechanisms compensate for loose tolerances in hole positioning. The result is a exact fit on the frame.</p>
            </div>
        </div>
        <div class="col-md-6">
            <img src="{{ ASSET_PATH }}/img/trolleys2.jpg" class="img-responsive">
            <span class="image_caption">Molestias non veritatis voluptatem, reiciendis asperiores adipisci in cumque consequatur ab possimus expedita.</span>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<!-- Z Axis -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="about-text">
                <div class="section-title">
                    <h2>Z Axis</h2>
                    <hr>
                    <div class="clearfix"></div>
                </div>
                <p class="intro">Lighter and simpler to manufacture, the Z axis mechanism does not require milled parts like conventional solutions. The torch holder tightly locks the the torch in place without having to modify the handle.</p>
            </div>
        </div>
        <div class="col-md-6">
            <img src="{{ ASSET_PATH }}/img/z-axis.jpg" class="img-responsive">
            <span class="image_caption">Molestias non veritatis voluptatem, reiciendis asperiores adipisci in cumque consequatur ab possimus expedita.</span>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<!-- Plasma -->
<div class="container last">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ ASSET_PATH }}/img/plasma.jpg" class="img-responsive">
            <span class="image_caption">Molestias non veritatis voluptatem, reiciendis asperiores adipisci in cumque consequatur ab possimus expedita.</span>
        </div>
        <div class="col-md-6">
            <div class="about-text">
                <div class="section-title">
                    <h2>Plasma</h2>
                    <hr>
                    <div class="clearfix"></div>
                </div>
                <p class="intro">The Chinese BMF CUT 50M plasma cutter packs more than enough punch to cleanly cut up to 5 mm sheet metal (10 mm max cut). Additionally a compressor and torch height controller is needed.</p>
            </div>
        </div>
    </div>
</div>