   
    <section id="partner">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Partners / Sponsors</h2>
            </div>    

            <div class="partners">
                <ul>
                    <li> <a href="https://www.shuttleworthfoundation.org/" target="_blank"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" src="{{site.baseurl}}/assets/images/partners/shuttleworth-foundation.jpg"></a></li>
                    <li> <a href="https://wlan-si.net/en/" target="_blank"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" src="{{site.baseurl}}/assets/images/partners/wlan.jpg"></a></li>
                    <li> <a href="http://www.ario.net/" target="_blank"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms" src="{{site.baseurl}}/assets/images/partners/ario.jpg"></a></li>
                    <li> <a href="http://www.comsoc.org/" target="_blank"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms" src="{{site.baseurl}}/assets/images/partners/ieee.jpg"></a></li>
                    <li> <a href="https://nlnet.nl/" target="_blank"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1500ms" src="{{site.baseurl}}/assets/images/partners/nlnet.jpg"></a></li>
                    <li> <a href="#" target="_blank"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms" src="{{site.baseurl}}/assets/images/partners/openspec.jpg"></a></li>
                </ul>
            </div>        
        </div>
    </section>

    <section id="conatcat-info">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="pull-left">
                            <i class="fa fa-question-circle"></i>
                        </div>
                        <div class="media-body">
                            <h2>Questions?</h2>
                            <p>Do you have more question or you would like more info? No problem, just <a href="#">contact us</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </section>

    <section id="bottom">
        <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Irnas</h3>
                        <ul>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">Toolset</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Collaboration</a></li>
                            <li><a href="#">Vacancies</a></li>
                        </ul>
                    </div>    
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Support</h3>
                        <ul>
                            <li><a href="#">Lorem ipsum</a></li>
                            <li><a href="#">Lorem ipsum</a></li>
                            <li><a href="#">Lorem ipsum</a></li>
                            <li><a href="#">Lorem ipsum</a></li>
                            <li><a href="#">Lorem ipsum</a></li>
                            <li><a href="#">Lorem ipsum</a></li>
                            <li><a href="#">Lorem ipsum</a></li>
                        </ul>
                    </div>    
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Developers</h3>
                        <ul>
                            <li><a href="#">Lorem ipsum</a></li>
                            <li><a href="#">Lorem ipsum</a></li>
                            <li><a href="#">Lorem ipsum</a></li>
                            <li><a href="#">Lorem ipsum</a></li>
                            <li><a href="#">Lorem ipsum</a></li>
                            <li><a href="#">Lorem ipsum</a></li>
                            <li><a href="#">Lorem ipsum</a></li>
                        </ul>
                    </div>    
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Our Partners</h3>
                        <ul>
                            <li><a href="#">Lorem ipsum</a></li>
                            <li><a href="#">Lorem ipsum</a></li>
                            <li><a href="#">Lorem ipsum</a></li>
                            <li><a href="#">Lorem ipsum</a></li>
                            <li><a href="#">Lorem ipsum</a></li>
                            <li><a href="#">Lorem ipsum</a></li>
                            <li><a href="#">Lorem ipsum</a></li>
                        </ul>
                    </div>    
                </div>
            </div>
        </div>
    </section>

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2015 <a target="_blank" href="http://irnas.eu/" title="Irnas">Irnas</a>. All Rights Reserved.
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Faq</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="{{site.baseurl}}/assets/js/jquery.js"></script>
    <script src="{{site.baseurl}}/assets/js/bootstrap.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/jquery.prettyPhoto.js"></script>
    <script src="{{site.baseurl}}/assets/js/jquery.isotope.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/main.js"></script>
    <script src="{{site.baseurl}}/assets/js/wow.min.js"></script>
</body>
</html>