<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
	
	<!-- core CSS -->
    <link href="{{site.baseurl}}/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{site.baseurl}}/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{site.baseurl}}/assets/css/animate.min.css" rel="stylesheet">
    <link href="{{site.baseurl}}/assets/css/prettyPhoto.css" rel="stylesheet">
    <link href="{{site.baseurl}}/assets/css/main.css" rel="stylesheet">
    <link href="{{site.baseurl}}/assets/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <!-- <link rel="shortcut icon" href="{{site.baseurl}}/assets/images/ico/favicon.ico"> -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{site.baseurl}}/assets/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{site.baseurl}}/assets/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{site.baseurl}}/assets/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{site.baseurl}}/assets/images/ico/apple-touch-icon-57-precomposed.png">
</head>

<body class="homepage">

    <header id="header">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-4">
                        <!-- <div class="top-number"><p><i class="fa fa-phone-square"></i>  +0123 456 70 90</p></div> -->
                    </div>
                    <div class="col-sm-6 col-xs-8">
                       <div class="social">
                            <ul class="social-share">
                                <li><a href="mailto:info@irnas.eu"><i class="fa fa-envelope-o"></i></a></li>
                                <li><a href="{{site.baseurl}}/faq"><i class="fa fa-question-circle"></i></a></li>
                            </ul>
                            <div class="search">
                                <form role="form" action="search.html">
                                    <input type="text" name="q" id="tipue_search_input" autocomplete="off" required>
                                    <i class="fa fa-search"></i>
                                </form>
                           </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navigation -->
        {% include nav.html %}
        
    </header>

    <section id="main-slider" class="no-margin">
        <div class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
                <li data-target="#main-slider" data-slide-to="3"></li>
                <li data-target="#main-slider" data-slide-to="4"></li>
                <li data-target="#main-slider" data-slide-to="5"></li>
                <li data-target="#main-slider" data-slide-to="6"></li>
            </ol>
            <div class="carousel-inner">

                <div class="item active" style="background-image: url({{site.baseurl}}/assets/images/slider/img1.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">1Gbps networking connectivity for locations up to 100m apart, using an eye-safe infrared light beam.</h1>
                                    <h2 class="animation animated-item-2">KORUZA is a low cost, open source and open hardware, wireless optical system, making the free space optical (FSO) technology available to masses and providing
 an alternative to Wi-Fi networks.</h2>
                                    <a class="btn-slide animation animated-item-3" href="#features">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item" style="background-image: url({{site.baseurl}}/assets/images/slider/img2.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">1Gbps networking connectivity for locations up to 100m apart, using an eye-safe infrared light beam.</h1>
                                    <h2 class="animation animated-item-2">KORUZA is a low cost, open source and open hardware, wireless optical system, making the free space optical (FSO) technology available to masses and providing
 an alternative to Wi-Fi networks.</h2>
                                    <a class="btn-slide animation animated-item-3" href="#features">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item" style="background-image: url({{site.baseurl}}/assets/images/slider/img3.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">1Gbps networking connectivity for locations up to 100m apart, using an eye-safe infrared light beam.</h1>
                                    <h2 class="animation animated-item-2">KORUZA is a low cost, open source and open hardware, wireless optical system, making the free space optical (FSO) technology available to masses and providing
 an alternative to Wi-Fi networks.</h2>
                                    <a class="btn-slide animation animated-item-3" href="#features">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item" style="background-image: url({{site.baseurl}}/assets/images/slider/img4.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">1Gbps networking connectivity for locations up to 100m apart, using an eye-safe infrared light beam.</h1>
                                    <h2 class="animation animated-item-2">KORUZA is a low cost, open source and open hardware, wireless optical system, making the free space optical (FSO) technology available to masses and providing
 an alternative to Wi-Fi networks.</h2>
                                    <a class="btn-slide animation animated-item-3" href="#features">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item" style="background-image: url({{site.baseurl}}/assets/images/slider/img5.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">1Gbps networking connectivity for locations up to 100m apart, using an eye-safe infrared light beam.</h1>
                                    <h2 class="animation animated-item-2">KORUZA is a low cost, open source and open hardware, wireless optical system, making the free space optical (FSO) technology available to masses and providing
 an alternative to Wi-Fi networks.</h2>
                                    <a class="btn-slide animation animated-item-3" href="#features">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item" style="background-image: url({{site.baseurl}}/assets/images/slider/img6.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
                                    <h2 class="animation animated-item-2">Accusantium doloremque laudantium totam rem aperiam, eaque ipsa...</h2>
                                    <a class="btn-slide animation animated-item-3" href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item" style="background-image: url({{site.baseurl}}/assets/images/slider/img7.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">1Gbps networking connectivity for locations up to 100m apart, using an eye-safe infrared light beam.</h1>
                                    <h2 class="animation animated-item-2">KORUZA is a low cost, open source and open hardware, wireless optical system, making the free space optical (FSO) technology available to masses and providing
 an alternative to Wi-Fi networks.</h2>
                                    <a class="btn-slide animation animated-item-3" href="#features">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

              
            </div>
        </div>
        <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
            <i class="fa fa-chevron-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="fa fa-chevron-right"></i>
        </a>
    </section>